:root {
    ---header-color: #6D28D9;
}

.darktheme {
    ---background-color: #1F2937;
    ---group-color: #273549;
    ---group-header: #CCC1FF;
    ---output-text: #FFFFFF;
    ---dot-border: #EEEEEE
}

.lighttheme {
    ---background-color: #CECECE;
    ---group-color: #F4F4F4;
    ---group-header: #5A537B;
    ---output-text: #353535;
    ---dot-border: #222222
}

* {
    margin: 0;
}

body {
    background-color: black;
    font-family: "Inter", serif;
    margin: 100px auto 0px;
    width: 550px;
}

header {
    background-color: var(---header-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

article {
    background-color: var(---background-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
}

#number-input {
    background-color: var(---header-color);
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
    field-sizing: content;
    font-size: 58px;
    font-weight: 800;
    height: 83px;
    line-height: 24px;
    margin: auto;
    max-width: 400px;
    text-align: center;
    min-width: 140px;
}

#number-input::-webkit-outer-spin-button,
#number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.group {
    background-color: var(---group-color);
    padding: 14px;
    border-radius: 5px;
}

.group-header {
    color: var(---group-header);
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

p {
    color: var(---output-text);
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    text-align: center;
}

footer {
    background-color: var(---background-color);
    display: flex;
    flex-direction: row;
}

.dot {
    border: 2px solid var(---dot-border);
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin: 5px 5px;
    width: 30px;
}

#theme {
    display: flex;
    width: auto;
}

#color {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    justify-content: flex-end;
    width: auto;
}

#light {
    background-color: #CECECE;
}

#dark {
    background-color: #1F2937;   
}